Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  misc-*,
  cppcoreguidelines-*,
  hicpp-*,
  cert-*,
  security-*,
  portability-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
